@using LoyaltyConsole.MVC.Areas.Admin.ViewModels.CustomerVMs

@model List<CustomerGetVM>
@{
    int count = 0;
}

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    
    <!-- Navbar End -->

    <!-- Table Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <div style="display: flex; align-items: center;">
                        <h6 class="mb-0">Responsive Table</h6>
                        <a asp-action="create" class="btn btn-success ms-3">create</a>
                    </div>
                    <div style="margin-top: 10px" class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Birthday</th>
                                    <th scope="col">Cashback</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rew in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@rew.FullName</td>
                                        <td>@rew.Birthday.ToString("MM/ dd/ yyyy - HH:mm")</td>
                                        <td>@rew.CashbackBalance.TotalCashback</td>
                                        <td>
                                            <a asp-action="Update" asp-route-id="@rew.Id" class="btn btn-primary">edit</a>
                                            <a asp-action="Delete" asp-route-id="@rew.Id" class="btn btn-danger">remove</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->
</div>
<!-- Content End -->
