@using LoyaltyConsole.MVC.Areas.Admin.PaginatedLists
@using LoyaltyConsole.MVC.Areas.Admin.ViewModels.CustomerVMs

@model PaginatedList<CustomerGetVM>
@{
    int count = 0;
}

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    
    <!-- Navbar End -->

    <!-- Table Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded p-4" >
                    <div style="display: flex; align-items: center;">
                        <h6 class="mb-0">CUSTOMERS</h6>
                        <div style="width: 100%">
                            <a asp-action="create" class="btn btn-success ms-3">create</a>
                            <input type="text" id="customerSearch" class="form-control d-inline-block"
                                   placeholder="Search by name..."
                                   style="width: 250px; display: inline; border-color: black; margin-left: 33rem"
                                   value="@ViewBag.Search"
                                   onkeyup="if(event.keyCode === 13) searchCustomer()" />
                        </div>
                    </div>
                    <a style="color: red; font-weight:800; font-size: larger">@TempData["Error"]</a>
                    <div style="margin-top: 10px" class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Img</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Birthday</th>
                                    <th scope="col">Gained</th>
                                    <th scope="col">Redeemed</th>
                                    <th scope="col">Available</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rew in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(rew.CustomerImage?.ImageUrl))
                                            {
                                                <img src="@rew.CustomerImage.ImageUrl" alt="Customer Image" style="width:30px;height:30px;border-radius:50%;" />
                                            }
                                            else
                                            {
                                                <span> <i class="fa-solid fa-user"></i></span>
                                            }
                                        </td>
                                        <td>@rew.FullName</td>
                                        <td>@rew.Birthday.ToString("dd/ MM/ yyyy")</td>
                                        <td>@rew.CashbackBalance.TotalCashback</td>
                                        <td>@rew.CashbackBalance.CashbackRedeemed</td>
                                        <td>@rew.CashbackBalance.CashbackAvailable</td>
                                        <td>
                                            <a asp-controller="cashbackbalance" asp-action="update" asp-route-id="@rew.CashbackBalance.Id" class="btn btn-warning">balance</a>
                                            <a asp-action="Update" asp-route-id="@rew.Id" class="btn btn-primary">edit</a>
                                            <a asp-action="Delete" asp-route-id="@rew.Id" class="btn btn-danger">remove</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div style="display: @(Model.TotalPage == 0 ? "none" : "flex"); justify-content: center">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    <li class="page-item @(Model.Prev == false ? "disabled" : "")">
                                        <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage - 1)">Previous</a>
                                    </li>
                                    @for (int i = 1; i <= Model.TotalPage; i++)
                                    {
                                        <li class="page-item @(Model.ActivePage == i ? "active" : "")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>
                                    }
                                    <li class="page-item @(Model.Next == false ? "disabled" : "")">
                                        <a class="page-link" asp-action="index" asp-route-page="@(Model.ActivePage + 1)">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->
</div>
<!-- Content End -->
<!-- Button trigger modal -->

<script>

        function searchCustomer() {
        let search = document.getElementById("customerSearch").value;
        window.location.href = '@Url.Action("Index", "Customer", new { area = "Admin" })' + '?search=' + encodeURIComponent(search);
    }

    // document.getElementById("customerSearch").addEventListener("keyup", function () {
    //     let input = this.value.toLowerCase();
    //     let rows = document.querySelectorAll("table tbody tr");

    //     rows.forEach(row => {
    //         let nameCell = row.querySelector("td:nth-child(2)");
    //         if (nameCell) {
    //             let name = nameCell.textContent.toLowerCase();
    //             row.style.display = name.includes(input) ? "" : "none";
    //         }
    //     });
    // });
</script>


